$tablet: 768px !default;
$desktop: 992px !default;

@mixin mobile {
  @media screen and (max-width: $tablet - 1px) {
    @content
  }
};

@mixin tablet {
  @media screen and (max-width: $desktop - 1px) and (min-width: $tablet) {
    @content
  }
};

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content
  }
};
